@import "../colors";
.div{
    z-index: 50;
    display: flex;
    max-width: 90%;
    border-radius: 2.8px;
    border: 1px solid $purple-6;
    margin: auto;
    &.Area{

    }
    &.Default{
        line-height: 15px;
        font-size: 12px;
    }
    &.Large{
        line-height: 19px;
        font-size: 16px;
    }
    &.Small{
        line-height: 12px;
        font-size: 9px;
    }
    .addonAfter, .addonBefore {
        padding: 0.4em 0.6em !important;
        vertical-align: middle;
        line-height: 1.5 !important;
        font-size: 14px !important;
        padding: 0.2em 0.2em;
        background-color: whitesmoke !important;
        z-index: 0;
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        margin: 0 auto;
        background-color: transparent;
        vertical-align: middle !important;
        position: relative;
        top: -50%;
    }
    .addonAfter{
        border-top-right-radius: 1.5px !important;
        border-bottom-right-radius: 1.5px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-left: .5px solid $purple-6;
        Button{
            border-top-right-radius: 1.5px !important;
            border-bottom-right-radius: 1.5px !important;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            height: 100%;
            border: 0;
        }
    }
    .addonBefore{
        border-top-left-radius: 1.5px !important;
        border-bottom-left-radius: 1.5px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-right: .5px solid $purple-6;
        Button{
            border-top-left-radius: 1.5px !important;
            border-bottom-left-radius: 1.5px !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            height: 100%;
            border: 0;
        }
    }

    input, textarea{
        border: none !important;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 2.8px;
        background-color: white;
        flex: 1;
        outline: none;
        padding: 0.4em 0.6em;
        max-width: 100% !important;
    }
}
.BorderLeft{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.BorderRight{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}