$green: #16a085;
$red: #c0392b;
$purple: #722ED1;

.Row{
    Col{
        margin: 2em;
    }
    padding: 1.5em 2em;
    border-bottom: 1px solid rgba($purple,0.9);
    margin-bottom: 0.8em;
}

.Choices {
    margin-bottom: 0.5em;
    Input {
        margin-top: 0.5em;
    }
    .Correct{
        &:hover {
            border-color: $green !important;
        }
        &:focus {
            border-color: $green !important;
            box-shadow: 0 0 0 2px rgba($green, 0.2) !important;
        }
    }
    .Incorrect{
        &:hover{
            border-color: $red !important;
        }
        &:focus {
            border-color: $red !important;
            box-shadow: 0 0 0 2px rgba($red, 0.2) !important;
        }
    }
}
.Question {
    Button {
        width: 100%;
    }
}
