@import "global/UI/colors.scss";

.Modal {
    position: fixed;
    height: auto;
    z-index: 1000;
    width: 70%;
    border-radius: 5px; 
    box-shadow: 1px 1px 1px black;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    @media (min-width: 700px) {
        width: 600px;
        left: calc(50% - 300px);
    }
}
.Content {
    border-bottom: 0.1px solid $purple-4;
    border-top: 0.1px solid $purple-4;    
    height: auto;
    width: 100%;
    color: $grey-3;
    padding: 15px;
    text-align: left;
    background-color: $purple-10;
}
.Footer {
    height: auto;
    background-color: whitesmoke;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 20px;
    text-align: right;
}
.Heading {
    font-size: 1.6em;
    color: $purple-5;
    font-weight: bold;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: whitesmoke;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    text-align: left

}

.CloseButton {
    color: $purple-5;
    height: 15px;
    width: 15px;
    float: right;
    margin: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease-out;
    &:hover{
        color: $purple-7;
        text-decoration: none;
        cursor: pointer;
    }
}
