@import "global/UI/colors.scss";

.NavBar {
    height: 50px;
    width: 100%;
    padding-left: 0px !important;
    display: flex;
}
.ItemDiv {
    height: 50px;
    display: inline-block;
    margin: auto;
    li {
        margin: 15px 20px !important;
        vertical-align: middle;
        list-style-type: none;
        transition: all 0.4s ease-out;
        font-size: 1em;
        cursor: pointer;
    }
}
.Primary{
    &.NavBar{
        border-bottom: 1px solid $purple-3;
        background-color: $purple-6;
    }
    .ItemDiv li{
        color: whitesmoke;
        &:hover{
            color: $purple-9;
        }
    }
}
.Secondary{
    &.NavBar{
        border-bottom: 1px solid $grey-8;
        background-color: whitesmoke;
    }
    .ItemDiv li{
        color: $purple-6;
        &:hover{
            opacity: 0.9;
        }
    }
}