@import "../colors";
.Giant{
    font-size: 6em;
    font-weight: bold;
    margin-bottom: .3em;
}
.Big{
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0.2em;
}
.Medium{
    font-size: 3em;
font-weight: bold;
    margin-bottom: 0.2em;
}
.Small{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.2em;
}
.dark{
    color: black;
}
.purple{
    color: $purple-5
}
.white{
    color: whitesmoke;
}