.Card{
    width: 100%; 
    border-color: #722ED1;
}
.TextArea {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    height: 'auto';
    font-size: 1.36em;
    font-weight: bold;
}    
.Buttons{
    display: block;
    width: 100%;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    height: 'auto';
}
.Name {
    margin-bottom: 1em;
    Input {
        width: 100%;
        text-align: center;
        background-color: transparent;
        border: 0;
        color: black;
        font-size: 1.5em;
        &:focus {
            border-color: transparent;
            box-shadow: none;
        }
        &:hover {
            border-color: transparent;
        }
    }
}